# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

## __objectives:__

* List popular languages for Data Science.
* List commonly used libraries used by Data Scientists.
* Do mathematical operation

1. C++
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.
5. SciPy.

## Data Science Tools
RStudio
Apache Spark
TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In this code cell evaluate the expression (3*4)+5

In [6]:
print ((3*4)+5)

17

This will convert 200 minutes to hours by diving by 60

In [7]:
print (200/60)

3.3333333333333335

## Author
Zahra Mosahebeh